/*General css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gill sans;
}

img {
    width: 100%;
}

main {
    margin: 0 20px;
}

header {
    background: white;
    width: 100%;
    padding: 10px;
}

/*NAVIGATION - responsiv med flexbox*/
#logo-burger {
    display: flex;
    align-items: center;
    margin: 0 .5em;
}

#logo-burger a {
    display: block;
    margin: 0 auto;
    width: 300px;
}

#main-nav {
    display: flex;
    margin-right: .5em;
}

#main-nav a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
}

#main-nav a:hover {
    color: grey;
}

/*active class sættes på det link i menuen man befinder sig på, så farven ændres på menuen på den aktuelle side - den er ikke sat på noget endnu*/
.active {
    color: lightgrey;
}

/*Denne skjuler burgermenuens checkbox som aktiverer toggle funktionen*/
.hidden {
    display: none;
}


/*.book {
    background-color: #80b5c0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 60%;
    margin-top: 15%;
    margin-right: 35%;
    width: 85%;
}

.text1 {
    color: #fff;
    text-decoration: none;
}*/


h1 {
    margin: 0 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}

h2 {
    margin: 0 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

p {
    font-size: 20px;
}

/*-------------- FORSIDE ---------------*/

/* RETNINGSLINJER */
.retningslinjer {
    margin: 0 20px;
}

ol {
    font-size: 20px;
    line-height: 30px;
}

/* SEARCH BAR */
.search-bar .sog {
    padding: 19px;
    padding-right: 32%;
    margin: 10px 0 10px 0;
    margin-left: 20px;
    font-size: 17px;
    border: 10px 10px #ddd;
}

.search-bar button {
    padding: 20px 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* UDSTYR LISTE */
/* Style the tab */
.tab {
    float: left;
    width: 90%;
    height: 260px;
    margin: 10px 0 10px 0;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: #f1f1f1;
    color: black;
    padding: 20px 16px;
    width: 100%;
    border-bottom: 3px solid inherit;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    margin: 0 20px;
    font-family: gill sans;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/*Booking knapper */

.book-knapper {
    background-color: #80b5c0;
    border-radius: 5px;
    margin: 0 30px;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

/*-----------------ALLE BILLEDE SIDERNE--------------------*/

.produkter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.produkter {
    border: 20px solid transparent;
    display: flex;
    flex-direction: column;

}

.produkter img {
    width: 400px;
}

.produkter h3 {
    text-align: center;
}

.produkter button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #80b5c0;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
}

/*---------360 FLY ACTION SIDE ----------*/

.fly-action {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 20px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 460px;
    height: 300px;

}

ul {
    font-size: 20px;
    line-height: 30px;
}

/*--------- CANON EOS 7000D ----------*/

.canon-eos {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

/*--------- SONY ALPHA A6000 ----------*/

.sony-alpha {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

/*--------- KONTAKT SIDE ----------*/

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/*Når checkboksen er checked, får den en blå baggrund */
.checkbox input:checked ~ .checkmark {
    background-color: #80b5c0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* checkboks markørens styling */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.kontakt,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #80b5c0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #7c7c7c;
}

label {
    font-size: 20px;
}

.kontakt-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*--------------- FOOTER ----------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    background-color: #7c7c7c;
    color: white;
    margin-top: 20px;
}

footer a {
    color: #80b5c0;
}





/* telfon */
@media all and (max-width: 599px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    /*label er selve burgerikonet*/
    #logo-burger label {
        display: block;
        font-size: 2em;
        margin-right: 15px;
        cursor: pointer;
        /*laver en hånd i stedet for en pil, når man kører hen over burgermenuen*/
    }

    /*Dette gør at burgermenuen folder sig ud, når man klikker på den - eller rettere sagt den checkboks som er skjult bag den*/
    #toggle:checked + #main-nav {
        display: block;
    }

    /*Den primære navigation skjules på den lille skærm*/
    #main-nav {
        display: none;
    }

    #main-nav a {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    /*Dette påvirker dropdown i mobilversionen, da hover ikke virker med fingeren, så nu er det hele foldet ud, border er fjernet og skriften er mindre.*/
    #main-nav .dropdown-content a {
        font-size: 0.9em;
        border: none;
    }
}



/* tablet */
@media all and (min-width: 600px) {

    /*HEADER NAV*/
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }


    #main-nav {
        justify-content: space-evenly;
        min-width: 50%;
        margin: 0;
    }

    #main-nav a {
        margin: 0 .5em;
    }

    .hidden {
        display: none;
    }

    /*Dette fjerner burgermenu ikonet*/
    label {
        display: none;
    }

    /*Dropdown*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #fff;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover {
        background-color: blue;
    }

}
