/*General css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gill sans;
}



/* Header */

wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 100%;
    width: 100%;
}

header {
    z-index: 1;
    grid-area: 1/1/3/-1;
}

.navi {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;

}

.header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    border-bottom: 3px solid #80b5c0;
}

#logo {
    grid-area: 1/2/2/4;
    width: 70%;
    margin-top: 10px;

}

label {
    align-content: center;
    text-align: center;

}

.menu {
    grid-area: 2/1/4/-15;

}

.book {
    background-color: #80b5c0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 60%;
    grid-area: 1/4/2/5;
    margin-top: 15%;
    margin-right: 35%;
    width: 85%;
}

.text1 {
    color: #fff;
    text-decoration: none;
}

/* header med hjælp fra https://www.youtube.com/watch?v=sjrp1FEHnyA&t=245s */

.header {
    background-color: #fff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 10px 20px;
    margin-top: 5px;
    text-decoration: none;
    color: #333;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #80b5c0;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 1px 20px;
    margin-top: 4px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/* Header slut */

h1 {
    margin: 0 20px;
}

h2 {
    margin: 0 20px;
}

/*-------------- FORSIDE ---------------*/

/* RETNINGSLINJER */
.retningslinjer {
    margin: 0 20px;
}

/* SEARCH BAR */
.search-bar input[type=text] {
    padding: 19px;
    padding-right: 40%;
    margin: 10px 0 10px 0;
    margin-left: 20px;
    font-size: 17px;
    border: 10px 10px #ddd;
}

.search-bar button {
    padding: 20px 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* UDSTYR LISTE */
/* Style the tab */
.tab {
    float: left;
    width: 90%;
    height: 320px;
    margin: 10px 0 10px 0;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: #f1f1f1;
    color: black;
    padding: 20px 16px;
    width: 100%;
    border-bottom: 3px solid inherit;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    margin: 0 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/*Booking knapper */

.book-knapper {
    background-color: #80b5c0;
    border-radius: 5px;
    margin: 0 30px;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

/*------------------KAMERA-SIDE--------------------*/

.kamera-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kamera {
    border-bottom: 1px solid #ccc;
}

.kamera img {

    max-width: 100%;

}

.kamera h3 {
    text-align: center;
}

.kamera button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #80b5c0;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;


}

/*--------------- FOOTER ----------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
    background-color: #7c7c7c;
    color: white;
    margin-top: 20px;
}

footer a {
    color: #80b5c0;
}




/*Styling til devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*Husk at disse er et stylesheet inde i stylesheetet, så du skal vælge grupper osv igen */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
