/*General css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gill sans;
}

img {
    width: 100%;
}

main {
    margin: 0 20px;
}

/*-------------- NAVIGATION ---------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: #fff;
    width: 100%;
    border-bottom: 3px solid #80b5c0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

header .logo {
    width: 70%;
    margin-left: 40%;
}


header nav ul {
    margin-top: 0;
    padding: 0;
    display: flex;
    margin-left: -5%;
}



.book {
    line-height: 40px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    margin-top: 1%;
    background-color: #80b5c0;
    border-radius: 5px;
}

.book a {
    text-decoration: none;
    color: #fff;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before {
    content: '\f0d7';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #333;
    right: 5px;
}

header nav ul li.active.sub-menu:before {
    content: '\f0d8'
}


header nav ul li ul {
    position: absolute;
    left: 0;
    background: #ececec;
    display: none;

}

header nav ul li.active ul {
    display: block;
}

header nav ul li ul li {
    display: block;
    width: 200px;

}

header nav ul li a {
    height: 60px;
    line-height: 40px;
    padding: 0 30px;
    color: #333;
    text-decoration: none;
    display: block;

}

header nav ul li a:hover,
header nav ul li a.active {
    color: #fff;
    background-color: #80b5c0;
}

.menu-toggle {
    color: #333;
    float: right;
    line-height: 50px;
    font-size: 40px;
    cursor: pointer;
    display: none;
}


/*----------- OVERSKRIFTER OG TEKST ------------*/

h1 {
    margin: 0 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    margin-top: 25%;
}

h2 {
    margin: 0 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    margin-top: 10%;
}

.booking-overskrift {
    margin-top: 20%;
}


h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

p {
    font-size: 20px;
}

/*-------------- FORSIDE ---------------*/

/* RETNINGSLINJER */

#forsidebillede {
    border-radius: 10px;
}

.retningslinjer {
    margin: 0 20px;
}

ol {
    font-size: 20px;
    line-height: 30px;
    border: solid 2px #333;
    border-radius: 10px;
    padding-right: 5px;

}

.small {
    font-size: 18px;
}

/* SEARCH BAR */
.search-bar .sog {
    width: 100%;
    padding: 19px;
    padding-right: 32%;
    margin: 10px 0 10px 0;
    font-size: 17px;
    border: 10px 10px #ddd;
}

.search-bar button {
    padding: 20px 20px;
    background: #80b5c0;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* UDSTYR LISTE */
/* Style the tab */
.tab {
    float: left;
    width: 90%;
    height: 260px;
    margin: 10px 0 10px 6px;
    margin-bottom: 60px;
}

.tab form {
    background-color: #7c7c7c;
    border-radius: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: #7c7c7c;
    color: #fff;
    padding: 20px 16px;
    width: 100%;
    border-bottom: 3px solid inherit;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    margin: 0 20px;
    font-family: gill sans;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/*Booking knapper */

.book-knapper {
    background-color: #80b5c0;
    border-radius: 5px;
    margin: 0 30px;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.book-oversigt {
    margin-top: 40px;
    margin-bottom: 40px;
}


/*-----------------ALLE BILLEDE SIDERNE--------------------*/

.produkter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.produkter {
    border: 20px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

}

.produkter img {
    width: 300px;
}

.produkter h3 {
    text-align: center;
}

.produkter-container form {
    background-color: #80b5c0;
    border-radius: 5px;
}

.produkter button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #80b5c0;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
}

/*---------360 FLY ACTION SIDE ----------*/

.fly-action {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 20px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 460px;
    height: 300px;

}

ul {
    font-size: 20px;
    line-height: 30px;
}

/*--------- CANON EOS 7000D ----------*/

.canon-eos {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

/*--------- SONY ALPHA A6000 ----------*/

.sony-alpha {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

.container-specifikation {
    background-color: #80b5c0;
    border-radius: 10px;
    color: #fff;
    padding-right: 5px;
}

.frame {
    width: 100%;
}


/*--------- KONTAKT SIDE ----------*/

.kontakt-overskrift h3 {
    margin-top: 20%;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/*Når checkboksen er checked, får den en blå baggrund */
.checkbox input:checked ~ .checkmark {
    background-color: #80b5c0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* checkboks markørens styling */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.kontakt,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit] {
    background-color: #80b5c0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

button[type=submit]:hover {
    background-color: #7c7c7c;
}

label {
    font-size: 20px;
}

.kontakt-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

form {
    border: 3px solid #f1f1f1;
}

.login {
    border: 3px solid #f1f1f1;
    margin-top: 120px;
    margin-bottom: 30px;
}

/*--------- LOGIN SIDE TIL BOOKING ----------*/

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=date],
input[type=time] {

    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=button] {
    font-size: 20px;

}

button {
    background-color: #80b5c0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
}

.gaa-videre-knapper {
    background-color: #80b5c0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #7c7c7c;
}

.container {
    padding: 16px;
    background-color: #f1f1f1;
}

.booking-side {}

span.adgangskode {
    float: right;
    padding-top: 16px;
}

/*--------- BOKKING SIDE FOR MEDIALAB ----------*/
.plan {
    background-color: #80b5c0;
    margin-bottom: 30px;
}

.foerste {
    background-color: #f1f1f1;
}

.anden {
    background-color: #f1f1f1;
}

.tredje {
    background-color: #f1f1f1;
    font-size: 20px;
}

.plan-oversigt {
    margin-top: 100px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.adgnagskode {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
        background-color: #f1f1f1;
    }
}

/*--------------- FOOTER ----------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    background-color: #7c7c7c;
    color: white;
    margin-top: 20px;
}

footer a {
    color: #80b5c0;
}






/* telfon */
@media all and (max-width: 599px) {}



/* tablet */
@media all and (min-width: 600px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    header {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }

    header .logo {
        display: block;
        margin: 0 auto;
        max-height: 75px;
        max-width: 350px;
    }

    .book {
        line-height: 40px;
        height: 40px;
        padding: 0px 5px 0px 5px;
        margin-top: 4%;
        margin-right: -3%;
        background-color: #80b5c0;
        border-radius: 5px;
    }



    header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: 0%;
    }


    .menu-toggle {
        display: block;
        margin-top: 3%;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
        top: 60px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li.active ul {
        position: relative;
        background: #ececec;
    }

    header nav ul li ul li {
        width: 100%;
    }

    header nav ul li ul li a {
        font-size: 12px;
    }

    .menu {
        border-bottom: 3px solid #80b5c0;
    }

}
